@import "../../App";

.itemContentLeftPart {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    margin: 20px 0;
    padding: 1rem;
    font-size: 14pt;
    user-select: none;
    box-sizing: border-box;
    word-break: break-word;
}

.shoppingListHeader{
    background-color: #E5E5E5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    & h2{
      color: black;  
    }
    
    & svg {
        position: absolute;
        left: 1rem;
    }
}
.itemLabel{
    display: flex;
    flex-direction: column;

    & span {
        
    }
}
.itemLabel > span {
    color: #999999;
}

.shoppingListItems{
    padding: 1rem;
}


.boughtProduct {
    border: 1px solid #999999;
    background-color: #cccccc;
}

.shoppingListItemOptions {
    color: rgb(97, 97, 97);
    transition: font-size 0.5s, margin-top 0.5s, color 0.5s;
    width: 100%;
}

.openedOptions {
    margin-top: 25px;
    font-size: 0.875rem;
    color: rgb(97, 97, 97);
}

.closedOptions {
    margin-top: 0;
    font-size: 0;
    color: rgba(255, 255, 255, 0);
    overflow: hidden;
}

.arrowReverse {
    transform: scaleY(-1);
}

.arrow {
    transition: transform 0.5s ease-out;
    padding-left: 8px;
}

.icon {
    height: 1.125rem;;
    width: 20px;

    &>path {
        fill: black;
    }
}
