.filterShell{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    box-shadow:  0 0 10px 4px rgba(99, 99, 99, 0.1);
    font-size: 16pt;
    position: absolute;
    left: 1rem;
    top: 2rem;
    padding: 1rem;
    border-radius: 4px;

}
.filterShell > div {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.filterShell > h3{
    padding: 0.5rem 1rem;
}

.filtersCounter{
    height: 20px;
    width: 24px;
    position: absolute;
    background-color: rgb(73, 73, 73);
    top: -12px;
    left: 6px;
    border-radius: 50%;
    text-align: center;
    color: white;
}