.itemWrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    text-align: start;
    background-color: #ffffff;
    font-family: "Lab Grotesque", serif;
}

.boughtProduct {
    border: 1px solid #999999;
    background-color: #cccccc;
}

.itemContentLeftPart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 20px;
    font-size: 14pt;
    user-select: none;
    box-sizing: border-box;

    & span {
        color: rgb(141, 141, 141);
        font-weight: 400;
        font-size: 10pt;
    }
}

.closedKebab {
    display: none;
}

.openedKebab {
    display: block;
}

.shoppingListItemContent {
    padding-left: 10px;
    width: 100%;
    word-break: break-word;
}

.shoppingListItemContent label {
    font-weight: bolder;
    max-width: 50vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.itemInfo{
    display: flex;
    flex-direction: column;
}

