.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    z-index: 7;
    row-gap: 10px;
    border-radius: 20px;
    padding: 20px 30px;
    background-color: #ffffff;
    color: black;
    font-size: 16pt;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);

    &>div {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    & input[type=checkbox] {
        margin: 4px 4px 0 0;
        width: 25px;
        height: 20px;
    }

    & h1 {
        padding: 0 0 20px 0;
        font-size: 16pt;
    }

    & input[type="radio"] {
        margin-right: 10px;
    }
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
}
