.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    z-index: 7;
    row-gap: 10px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6vh;
    background-color: #ffffff;
    color: black;
    font-size: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    & h1 {
        font-size: 16pt;
    }
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.4);
}
