.editItemForm {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.priceTabs div {
    margin-top: 10px;
    box-shadow: none;
    border: 2px solid #ebebeb;
    border-bottom: none;
    padding: 8px;
    font-size: 14pt;
    background-color: white;
    color: black;
    transition: 0.5s;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-family: "Lab Grotesque", serif;
}

div.selectedTab{
    background-color: #3498db;
    color: white;
    border-color: #3498db;

}

.priceTabs {
    display: flex;
    gap: 10px;

}

.priceTabs div:hover {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
}

.priceInput {
    box-shadow: none;
    border: 2px solid #ebebeb;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}