.actionsWrapper {
    height: 100%;
    width: 8vw;
}

.kebab {
    display: flex;
    align-items: center;
    height: 100%;
}

.actions{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    right: 20px;
}

.editIcon{
    display: flex;
    gap: 10px;
    
    padding: 1rem 2rem;
}

.deleteIcon{
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    gap: 10px;
    padding: 1rem 2rem;
}
.triangle{
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    top: -7px;
    right: 25px;
    box-shadow: -2px -2px 0 rgb(0 0 0 / 12%);
}