* {
    margin: 0;
    padding: 0;
}

.shoppingList {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.shoppingListHeader {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    margin-bottom: 20px;
}


.shoppingListHeader img {
    flex-grow: 0;
    cursor: pointer;
}


.shoppingListHeader h2 {
    flex-grow: 1;
}


.shoppingListTotal {
    font-size: 16pt;
    font-weight: bolder;
}

.addNewItemButton {
    position: sticky;
    float: right;
    bottom: 20px;
    margin-right: -20px;
}

.addNewItemButtonBackground {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
