@import "../../App";

.shoppingListTotal {
    font-size: 1rem;
    font-weight: bolder;
}

.shoppingList h1{
    padding: 1rem 0  0 1rem;
}

.buttonContainer{
    margin: 0 auto;
    width: 9rem;
}
.emptyList{
    text-align: center;
    margin-bottom: 20px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.emptyListWrapper{
    background-color: #E5E5E5;
    padding: 1rem;
    flex-grow: 1;
    display: flex;
}

.emptyListContent{
    background-color: white;
    border-radius: 1rem;
    width: 100%;
}

.shoppingListWrapp{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.shoppingListItems {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 0.1rem;
}

.filters{
    display: flex;
    gap: 20px;
    padding: 0.5rem;
    position: relative;
}

.listControls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: sticky;
    top: 0;
    background: #e5e5e5;
    padding: 1rem 0;
    z-index: 5;
}

.buttonSticky {
    position: sticky;
    bottom: 0px;
    padding: 1rem 0;
    background-color: #e5e5e5;
}