@import "../../App";

.itemWrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    overflow: hidden;
    &:hover {
        border: 1px solid rgb(0 0 0 / 16%);
    }
}

.itemContentLeftPart {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20px 20px;
    font-size: 18pt;
    height: 100%;
    user-select: none;
    box-sizing: border-box;
    width: 100%;
    

    & label {
        font-size: 1.125rem;
    }
}
.emptyList {
    text-align: center;
    margin-bottom: 20px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    & p {
        text-align: center;
    }
}

.emptyListWrapper {
    background-color: #e5e5e5;
    padding: 1rem;
    flex-grow: 1;
}

.emptyListContent {
    background-color: white;
    height: 100%;
    border-radius: 1rem;
    
}

.buttonContainer {
    padding: 0 25vw;
}

.content{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
     
}

.buttonSticky{
    position: sticky;
    bottom: 10px;

}

.header{
    padding: 1rem;
    overflow: scroll;
}

.kebab {
    display: flex;
    align-items: center;
    height: 100%;
}


.actions{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    right: 20px;
}


.kebabIcons{
    display: flex;
    gap: 10px;
    padding: 1rem 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.triangle{
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    top: -7px;
    right: 25px;
    box-shadow: -2px -2px 0 rgb(0 0 0 / 12%);
}