.shoppingList {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.itemWrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    overflow: hidden;

    &:hover {
        border: 1px solid rgb(0 0 0 / 16%);
    }
}

.itemContentLeftPart {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20px 20px;
    font-size: 18pt;
    height: 100%;
    user-select: none;
    box-sizing: border-box;
    width: 100%;
}
