.Select {
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid #ebebeb;
    background-color: white;
    font-size: 16pt;
    color: black;
    outline: none;
    cursor: pointer;

    &:focus {
        border: solid 2px #015ccb !important;
    }

    &:hover {
        border: solid 2px rgb(0 0 0 / 16%);
    }
}

.Label {
    color: #000000;
    font-size: 12pt;
}
