@import "Variables";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16pt;
}

body {
    background-color: #f8f8fb;
    font-family: "Lab Grotesque", serif;
}
@media (min-width: @window-width-480) {
    .appWrapper {
        margin: 0 auto;
        position: relative;
    }
}

.shoppingList {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
}

.shoppingListHeader {
    min-height: 8vh;
    background-color: #2291ff;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: @window-width-480) {
        position: sticky;
        top: 0;
    }

    & h2 {
        font-size: 18pt;
        text-align: center;
        color: white;
        font-weight: 500;
    }
}
