@font-face {
    font-family: "Lab Grotesque";
    font-style: normal;
    font-weight: 400;
    src: url(https://s.kontur.ru/common-v2/fonts/LabGrotesque/LabGrotesque-Regular.woff2) format('woff2')
}
